body {
    background-color: #1f1f14;
    /*background-color: #f8f9fa;*/
  }

  .navbar-custom { 
    /*background-color: #ffff00;*/
    /*background-color: red;*/
    /*background-color: green;*/
    background-color: #3f51b5;
  }

  .navbar-brand.nav-link-custom.active {
    /*color: black;*/
    text-decoration: underline;
  }