<nav class="navbar navbar-dark navbar-expand-lg navbar-custom">
  <a style="margin-right: 50px;" class="navbar-brand" href="#">Easy Claim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand nav-link-custom" [routerLink]="['/list-claim']" [routerLinkActive]="['active']">Claims</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand nav-link-custom" [routerLink]="['/list-user']" [routerLinkActive]="['active']">Users</a>
        </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
